<!DOCTYPE html>
{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    <img src="{{album.album_logo}}" style="width:250px">
    <h1>{{album.album_title}}</h1>
    <h3>{{ album.artist }}</h3>

    <!-- {% for song in album.song_set.all %}
      {{song.song_title}}
      {% endfor %} -->



        <!-- <div class="container">


          <!--Details  -->
        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm">ViewDetails</a>

        <!--Delete  -->
         <form  action="{% url 'music:album-delete' album_id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="album_id" value="{{ album_id }}"/>
          <button type="submit" class="btn btn-default btn-sm">
           <span class="glyphicon glyphicon-trash"></span>
          </button>
        </form>
      </div>
        <!-- Favorite -->
          <a href="#" class="btn btn-default btn-sm btn-favorite">
          <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}">/span>
        </a>


{% endblock %}
</body>
</html>
